<h1>Contacts</h1>

<div class="pull-right">
  <a ic-get-from="<%= new_contact_path %>"
     ic-target="#content-div"
     class="btn btn-primary">Create Contact</a>
</div>

<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody id="contacts-table-body">
    <%= render :partial => 'contact_rows' %>
  </tbody>
</table>

<span ic-append-from="/contacts/contact_rows?page=<%= (params[:page].to_i + 1 if params[:page]) or 2 %>"
      ic-target="#contacts-table-body"
      ic-include=".pageHolder:last-of-type"
      ic-load-on="click" class="btn btn-primary">Load More</span>