<h1>Contacts</h1>

<div class="pull-right">
  <a ic-get-from="<%= new_contact_path %>"
     ic-target="#content-div"
     class="btn btn-primary">Create Contact</a>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a id="activate-btn" ic-post-to="/contacts/contacts_table" ic-include="#contactsForm">Activate</a>
      </li>
      <li>
        <a id="deactivate-btn" ic-post-to="/contacts/contacts_table" ic-include="#contactsForm">Deactivate</a>
      </li>
    </ul>
  </div>

</div>

<form ic-src="/contacts/contacts_table" id="contactsForm" ic-always-update="true">
  <%= render :partial => 'contacts_table' %>
</form>


<div class="pull-right">
  <%= will_paginate @contacts, renderer: BootstrapPagination::Rails %>
</div>
