<h1>Contacts</h1>

<div class="pull-right">
  <a ic-get-from="<%= new_contact_path %>"
     ic-target="#content-div"
     class="btn btn-primary">Create Contact</a>
</div>

<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody id="contacts-table-body">
    <%= render :partial => 'contact_rows' %>
  </tbody>
</table>